.specialist {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px 50px 120px;
  background-color: #fff;
  position: relative;
}

.specialist .container {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 150px;
}

.specialist__title {
  font-weight: 700;
  font-size: 48px;
  color: #2e2e2e;
}

.specialist__list {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
}

.specialist__item {
  border: 1px solid #021526;
  border-radius: 20px;
  max-width: calc((100% - 60px) / 4);
  padding: 40px 29px;
}

.specialist__item:nth-child(2) {
  background-color: #0360d9;
  border-color: #0360d9;
}

.specialist__icon-container {
  width: 92px;
  height: 92px;
  background-color: #e6f5fc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #0360d9;
}

.specialist__item:nth-child(2) .specialist__icon-container {
  fill: #1379b1;
}

.specialist__item-title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 24px;
  color: #021526;
}

.specialist__item:nth-child(2) .specialist__item-title {
  color: #fff;
}

.specialist__item-description {
  color: #163048;
  margin-top: 9px;
}

.specialist__item:nth-child(2) .specialist__item-description {
  color: #fff;
}
